.banner-AproposPage {
    width: 100%;
    margin: auto;
}


.banner-AproposPage>.img-background {
    width: 95%;
    height: 340px;

    margin: auto;
    border-radius: 25px;
    background-color: black;
}

.banner-AproposPage>.img-background>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0.8;
}

#intel {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-items: center;
    margin: auto;
}

@media screen and (max-width: 780px) {
    #cards-container {
        width: auto;
    }

    .banner-AproposPage>.img-background {
        height: 200px;
    }

}