.main-footer {
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 25px;


    color: white;
    background-color: #000;
}

.main-footer>.logo {
    height: 40px;
}

@media screen and (max-width: 780px) {
    .main-footer>h2 {
        margin: 0px;
        width: 145px;
        font-size: 14px;
    }
}