.card-housing {
    position: relative;
    margin: 60px;
    height: fit-content;
}

.card-housing>a>img {
    width: 550px;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
}

.card-housing>a {
    display: block;
    height: 550px;
}

.card-housing>a>.card-text-container {
    position: absolute;
    display: flex;
    align-items: end;

    width: 100%;
    height: 50%;
    border-radius: 10px;

    bottom: 0px;

    font-size: 20px;
    text-decoration: none;

    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.card-housing>a>.card-text-container>p>b {
    margin: 10px;
}

@media screen and (max-width: 780px) {
    .card-housing {
        margin: 10px 0px 10px 0px;
    }

    .card-housing>a {
        height: 290px;
    }

    .card-housing>a>img {
        width: 100%;
        height: 290px;
        border-radius: 10px;
        object-fit: cover;
    }

}

@media screen and (min-width: 430px) and (max-width: 780px) {

    #cards-container {
        gap: 1em;
    }

    .card-housing>a {
        width: 300px;
        height: 310px;
    }

    .card-housing>a>img {
        width: 300px;
        height: 310px;

    }
}

@media screen and (min-width: 780px) and (max-width: 1440px) {
    .card-housing {
        margin: 35px;
    }

    .card-housing>a {
        width: 340px;
        height: 340px;
    }

    .card-housing>a>img {
        width: 340px;
        height: 340px;

    }
}